/*
 * General Styles
 */

h1 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	font-style: italic;
	text-align: center;
	color: #666;
}

p {
	color: lightgray;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	text-align: center;
}

/*
 * Page Styles
 */

#login-page {
	width: 250px;
	height: 150px;
}

#login {
	margin-left: 98px;
	color: green;
}

#login:hover {
	text-shadow: 0 0 4px lightgreen;
}

#credits {
	margin: 5px auto 12px auto;
	display: block;
	text-align: center;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	text-decoration: none;
	color: lightgray;
}

#credits:hover {
	color: blue;
	text-shadow: 0 0 4px lightblue;
}

#load-page {
	display: none;
	width: 75px;
	height: 28px;
}

#loading {
	margin: auto;
}

img {
	position: relative;
	top: 3px;
}

#main-page {
	display: none;
	width: 200px;
	height: 150px;
}

#deposit, #logout {
	margin: 0 10px 5px 20px;
}

#deposit:hover {
	color: green;
	text-shadow: 0 0 4px lightgreen;
}

#logout:hover {
	color: red;
	text-shadow: 0 0 4px tomato;
}

/*
 * Input Styles
 */

input {
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	font-size: 1.25em;
	font-weight: 300;
	background: transparent;
	border: none;
}

.text {
	font-family: 'Lato', Helvetica, sans-serif;
	color: gray;
	font-weight: 300;
	width: 85%;
	display: block;
	margin: 0 auto;
}

.button {
	margin: 10px 20px 5px 33px;
}

*:focus {
	outline: none;
}

::webkit-input-placeholder {
	color: gray;
	font-weight: 300;
}

/*
 * Funds Styles
 */

.high {
	color: green;
}

.medium {
	color: orange;
}

.low {
	color: red;
}
